git:
  depth: 1
os:
  - linux
language: node_js
node_js:
  - '8'
  - '10'
  - '11'
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn ci
  - yarn global add codecov
after_success:
  - codecov
